@tailwind base;
@tailwind components;
@tailwind utilities;



.bg2{
    background: rgba(58, 100, 59, 0.12);
}

.bg3{
    background: linear-gradient(90deg, #F4F7EC 0%, rgba(248, 248, 247, 0.46) 100%);
}

.hero-image {
    background-image: url("../public/images/FindBanner.png");
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

